# Node.js
node_modules/
dist/
types/
assets/

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Testing and coverage
coverage/
*.test.js

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Environment variables
.env

# Miscellaneous
!.gitignore