.CustomCallout {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.info {
  background-color: #9dccff;
  border-left: 10px solid #007aff;
  border-radius: 15px;
}

.tip {
  background-color: #bbffcc;
  border-left: 10px solid #34c759;
  border-radius: 15px;
}

.warning {
  background-color: #ffeeaa;
  border-left: 10px solid #ffcc00;
  border-radius: 15px;
}

.caution {
  background-color: #ff9f9a;
  border-left: 10px solid #ff3b30;
  border-radius: 15px;
}

.important {
  background-color: #e5b0ff;
  border-left: 10px solid #af52de;
  border-radius: 15px;
}

.CustomCallout p {
  margin: 0;
  color: #1c1c1e;
  margin-left: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
