name: Auto-merge Dependabot updates

on:
  pull_request:
    types:
      - labeled
      - opened
      - synchronize

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Check for breaking changes
        run: |
          if jq '.dependencies, .devDependencies | to_entries[] | select(.value | startswith("^") or startswith("~"))' package.json | grep -q ''; then
            echo "Breaking changes detected, exiting."
            exit 1
          fi

      - name: Auto-merge PR
        uses: pascalgn/automerge-action@v0.16.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          merge-method: squash
        if: success()
